@model IEnumerable<tp_nt1.Models.Diagnostico>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-outline-info" asp-action="Create">+ Nuevo diagnostico</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recomendacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Epicrisis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recomendacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Epicrisis.Id)
            </td>
            <td>
                <a class="btn btn-outline-info btn-sm btn-block" asp-action="Details" asp-route-id="@item.Id">Ver</a>
                <a class="btn btn-outline-info btn-sm btn-block" asp-action="Edit" asp-route-id="@item.Id">Actualizar</a>
            </td>
        </tr>
}
    </tbody>
</table>
