@{
    Layout = "_LayoutLogin";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form method="post" asp-action="Ingresar">
                            
                            <img src="~/img/logo.jpeg" alt="" width="100" height="70">

                            <div class="form-outline mb-4">
                                <input name="rol" type="radio" value="@Rol.Empleado" /> @Rol.Empleado.ToString()
                                <input name="rol" type="radio" value="@Rol.Paciente" /> @Rol.Paciente.ToString()
                                <input name="rol" type="radio" value="@Rol.Profesional" /> @Rol.Profesional.ToString()
                            </div>

                            <div class="form-outline mb-4">
                                <input name="username" id="typeEmailX-2" class="form-control form-control-lg" type="text" value="@ViewBag.Username" />
                                <label laber-for="username" class="form-label" for="typeEmailX-2">Usuario</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input name="password" id="typePasswordX-2" class="form-control form-control-lg" type="password" />
                                <label label-for="Password" class="form-label">Contraseña</label>
                            </div>

                            <div class="text-danger">
                                @ViewBag.Error
                            </div>

                            <button class="btn btn-info btn-lg btn-block" type="submit" value="Ingresar">Ingresar</button>

                        </form>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
