@{
    Layout = "_LayoutLogin";
}

<div class="text-center">
    <h4>Bienvenido al portal de Historias Clinicas</h4>
</div>

<hr />

<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <form method="post" asp-action="Ingresar">
            <div class="text-danger">
                @ViewBag.Error
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">

             @*<button name="rol" type="button" class="btn btn-info" value="@Rol.Empleado" > @Rol.Empleado.ToString()</button>
             <button name="rol" type="button" class="btn btn-info" value="@Rol.Paciente" > @Rol.Paciente.ToString()</button>
             <button name="rol" type="button" class="btn btn-info" value="@Rol.Profesional" > @Rol.Profesional.ToString()</button>*@

                <input name="rol" type="radio" value="@Rol.Empleado" /> @Rol.Empleado.ToString()
                <input name="rol" type="radio" value="@Rol.Paciente" /> @Rol.Paciente.ToString()
                <input name="rol" type="radio" value="@Rol.Profesional" /> @Rol.Profesional.ToString()
            </div>

            <div class="form-group">
                <label laber-for="username" class="control-label">Nombre de usuario:</label>
                <input name="username" class="form-control" type="text" value="@ViewBag.Username" />
            </div>
            <div class="form-group">
                <label label-for="Password" class="control-label">Contraseña:</label>
                <input name="password" class="form-control" type="password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Ingresar" class="btn btn-info" />
            </div>
           
                @*<div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        ¿No tenes una cuenta?  <a href="@Url.Action("Create", "Pacientes")" class="elements">Creala</a>
                    </div>
                </div>*@
           
        </form>
    </div>
</div>

