@model tp_nt1.Models.Episodio

@{
    ViewData["Title"] = "Detalle";
}


<div>
    <h4>Episodio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHoraInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHoraAlta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraAlta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHoraCierre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraCierre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoAbierto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoAbierto)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-info btn-sm" asp-controller="Episodios" asp-action="MiEpisodio" asp-route-id="@Model.Id">Ver Evoluciones</a>
    @if (User.IsInRole(nameof(Rol.Profesional)) && Model.EstadoAbierto && Model.RegistroEvoluciones != null)
    {
<form asp-action="PreCerrarEpisodio">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="text-danger">
        @ViewBag.Error
    </div>
    <button type="submit" class="btn btn-outline-info btn-sm">Cerrar episodio</button>
</form>}

    @if (User.IsInRole(nameof(Rol.Empleado)) && Model.EstadoAbierto && Model.RegistroEvoluciones == null)
    {
<form asp-action="PreCerrarEpisodioAdministrativo">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-outline-info btn-sm">Cerrar episodio</button>
</form>
    }

    @if (!Model.EstadoAbierto)
    {
        <a class="btn btn-outline-info btn-sm" asp-controller="Epicrisis" asp-action="Details" asp-route-id="@TempData["epicrisisId"]">Ver Epicrisis</a>
    }

    <a class="btn btn-outline-info btn-sm" asp-controller="HistoriasClinicas" asp-action="UnaHistoriaClinica" asp-route-pacienteId="@TempData["pacienteId"]">Volver</a>
</div>

