@model tp_nt1.Models.Episodio

@{
    ViewData["Title"] = "Detalle";
}


<div>
    <h4>Episodio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            Fecha y hora de inicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraInicio)
        </dd>
        <dt class = "col-sm-2">
            Fecha y hora del alta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraAlta)
        </dd>
        <dt class = "col-sm-2">
            Fecha y hora de cierre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraCierre)
        </dd>
        <dt class = "col-sm-2">
            Estado abierto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoAbierto)
        </dd>
        <!--
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleadoRegistra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpleadoRegistra.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistoriaClinica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistoriaClinica.Id)
        </dd>
            -->
    </dl>
</div>
<div>
    <!--<a asp-controller="Evolucion" asp-action="Details" asp-route-id="@Model.Id">Agregar Epicrisis</a>-->
    <!--agregar un condicional para poner en gris el boton de evoluciones -->
    <a class="btn btn-outline-info btn-sm" asp-controller="Episodios" asp-action="MiEpisodio" asp-route-id="@Model.Id">Ver Evoluciones</a>



    @if (User.IsInRole(nameof(Rol.Empleado)) || User.IsInRole(nameof(Rol.Profesional)))
    {
        <form asp-action="PreCerrarEpisodio">
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="text-danger">
                @ViewBag.Error
            </div>

            <button type="submit" class="btn btn-outline-info btn-sm">Cerrar episodio</button>
        </form>
    }
    @if (!Model.EstadoAbierto)
    {
        <a class="btn btn-outline-info btn-sm" asp-controller="Epicrisis" asp-action="Details" asp-route-epicrisisId="@Model.Id">Ver epicrisis</a>
    }

    <a class="btn btn-outline-info btn-sm" asp-controller="HistoriasClinicas" asp-action="UnaHistoriaClinica" asp-route-pacienteId="@TempData["pacienteId"]">Volver</a>
</div>

