@model IEnumerable<tp_nt1.Models.Episodio>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoAbierto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpleadoRegistra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHoraAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHoraCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoAbierto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpleadoRegistra.Apellido)
            </td>
  
            <td>
                <a class="btn btn-outline-info btn-sm btn-block" asp-action="Details" asp-route-id="@item.Id">Ver</a>

                <a class="btn btn-outline-info btn-sm btn-block" asp-action="Edit" asp-route-id="@item.Id">Actualizar</a>
                <!--BORRAR BTN ELIMINAR y de ACTUALIZAR ANTES DE ENTREGAR
                <a class="btn btn-outline-dark btn-sm btn-block" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
    -->
            </td>
        </tr>
}
    </tbody>
</table>
