@model IEnumerable<tp_nt1.Models.Profesional>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class= "btn btn-outline-info" asp-action="Create">+ Nuevo Profesional</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
                -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <!--
               <td>
               @Html.DisplayFor(modelItem => item.NombreUsuario)
           </td>
            <td>
               @Html.DisplayFor(modelItem => item.Email)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.FechaAlta)
           </td>

           <td>
               @Html.DisplayFor(modelItem => item.DNI)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.Telefono)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.Direccion)
           </td>
    -->
        <td>
            <a class="btn btn-outline-info btn-sm btn-block" asp-action="Details" asp-route-id="@item.Id">Ver</a>

            <!--

            <a class="btn btn-outline-info btn-sm btn-block" asp-action="Edit" asp-route-id="@item.Id">Actualizar</a>
            <a class="btn btn-outline-dark btn-sm btn-block" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
    -->
        </td>
        </tr>
}
    </tbody>
</table>
